.nohay {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 16px !important;
    left: 88%;
    font-weight: 600 !important;
}

@media all and (max-width: 500px){
    .btn {
        left: 70% !important;
    }
}