.mainDiv{
    width: 100%;
}
.item{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.left{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.right{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}