/* FORMULARIO */
.containerForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 24px;
    padding: 32px;
}

.boxForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPic {
    display: flex;
    align-items: flex-end
}

.containerPass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 32px
}

/* USERDATA */

.containerData {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInfo {
    width: 1400px;
    height: 200px;
    margin: 0;
    display: flex !important;
    align-items: center;
}

.boxName {
    margin-bottom: 25px;
    text-align: center;
}

.title {
    width: 200px !important;
    height: 200px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.botones {
    height: 60px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
}

.x {
    position: absolute;
    top: 30px !important;
    right: 30px;
}


@media all and (max-width: 500px) {
    .containerForm{
        width: 80% !important;
        height: 80% !important;
        display: flex;
        align-items: center;
    }

    .containerPass {
        width: 80%;
        height: 70%;
    }

    .formPass {
        align-items: stretch !important;
    }

    .pic {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 0 !important;
        flex-direction: column;
    }

    .containerPic {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .containerPic img {
        border-radius: 50%;
    }

    .btnPic{
        width: 180px;
        height: 50px;
    }

    /* USERDATA */

    .containerData {
        height: 250px;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 0 !important;
        flex-direction: column;
    }

    .containerInfo {
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title h6 {
        font-size: 25px;
    }

    .botones button {
        width: 150px;
        font-size: small;
        line-height: 1.5;
    }

    .botones {
        height: inherit !important;
        margin: 16px 0 !important;
    }

    .title {
        width: 100% !important;
        padding: 0 !important;
        margin-top: 10px !important;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .title img {
        width: 120px !important;
        height: 120px !important;
    }

    .boxName {
        margin: 5px !important;
    }

    .x {
        top: 20px;
        right: 20px;
    }
    /* .back {
        position: absolute;
        top: 20px;
        right: 20px;
    } */
}