.container{
    display: flex;

    justify-content: space-between;
}
.image{
    border-right: 1px solid rgb(212, 212, 212);
    max-height: 400px; 
    min-width: 400px; 
}
.img{
    object-fit:contain;
    min-width: 400px;
}
.info{
    margin-left: 10px;
    min-width: 350px;
    padding-top: 40px;
}
.name{
    display: flex;
    display: flex;
    align-items: center;
}
.price{
    margin-top: 15px;
    font-weight: bold;
    padding-left: 5px;
}
.stock{
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-left: 5px;
}
.description{
    padding: 10px 0px 0px 5px;
    word-wrap: break-word;
}
.buttons{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    margin-left: 680px;
    margin-top: 370px;

}

.delivery{
    margin-top: 2px;
    margin-left: 10px;
}