.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image {
    border-right: 1px solid rgb(212, 212, 212);
    max-height: 400px;
    min-width: 400px;
}

.img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    min-width: 400px;
}

.imgSinStock {
    width: 400px;
    height: 400px;
    filter: grayscale(0.9);
    object-fit: contain;
    min-width: 400px;
}

.info {
    margin-left: auto;
    margin-right: auto;
    /* margin: 10px;  */
    min-width: 350px;
    padding-top: 20px;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    padding-left: 5px;
}

.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.description {
    padding: 10px 0px 0px 5px;
    word-wrap: break-word;
    padding-bottom: 5px;
    text-align: justify;
    width: 350px;
}

.review {
    padding-bottom: 5px;
    text-align: justify;
}

.buttons {
    margin-top: 15px;
    padding-left: 108px;
    justify-content: end;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.delivery {
    margin-top: 2px;
    margin-left: 10px;
}

.ratingAndReview {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

.back {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .image {
        max-height: 300px !important;
        min-width: 300px !important;
    }

    .image img {
        width: 300px !important;
        height: 300px !important;
        min-width: initial;
    }

    .back {
        right: 10px;
        top: 10px;
        font-size: 40px;
    }

    .buttons {
        position: inherit !important;
        margin: 0 !important;
    }
}