.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.image{
    border-right: 1px solid rgb(212, 212, 212);
    max-height: 400px; 
    min-width: 400px; 
}
.img{
    width: 400px;
    height: 400px;
    object-fit:contain;
    min-width: 400px;
}
.imgSinStock{
    width: 400px;
    height: 400px;
    filter: grayscale(0.9);
    object-fit:contain;
    min-width: 400px;
}
.info{
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    min-width: 350px;
    padding-top: 20px;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    padding-left: 5px;
}
.stock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.description{
    padding: 10px 0px 0px 5px;
    word-wrap: break-word;
    padding-bottom: 5px;
}
.buttons{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    margin-left: 550px;
    margin-top: 390px;

}

.delivery{
    margin-top: 2px;
    margin-left: 10px;
}

.ratingAndReview {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}

@media all and (max-width: 500px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}