.container {
    height: 250px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid black;
}

.containerData {
    width: 800px !important;
    height: 200px;
    margin: 0 50px;
    display: flex !important;
    align-items: center;
}

.boxAddress {
    width: 275px !important;
    margin-bottom: 30px;
}

.actualizar {
    width: 200px;
    display: flex
}


@media all and (max-width: 500px) {
    .containerData {
        height: 230px;
        flex-direction: column;
        margin: 0 0 0 10px;
        padding: 0 !important;
    }

    .containerData div {
        padding-right: 0 !important;
    }

    .boxAddress {
        width: 200px !important;
        margin: 0;
    }

    .actualizar {
        width: initial !important;
    }

    .actualizar button {
        width: 150px;
        height: 45px;
        font-size: 12px;
        line-height: 1.5;
    }
}