.container{
    border: 1px solid #d8d8d8;
    max-width: 250px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    transition: .4s;
    margin: 0 2.5px
}
.container:hover {
    
    cursor: hand;
    cursor: pointer;
    transform: scale(1.005); 
    box-shadow: 0px 10px 10px -6px rgb(83, 83, 83);
  }
.img{
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
}

.infoContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.priceAndButton{
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}
.price{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
    padding-right: 4px;

}
.priceAndButton div {
    display: flex;
    align-items: flex-end;
}
.description{
    max-width: 200px;
    padding-left: 12px;
    padding-right: 3px;
    padding-bottom: 10px;
    word-wrap: break-word;
}
.masinfo{
    padding-left: 10px;
    min-width: 200px;
}
