.container{
    border: 1px solid #d8d8d8;
    max-width: 250px;
     width: 200px;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    transition: .1s;
    margin: 0 2.5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;

}
.container:hover {
    transform: scale(1.01); 
    box-shadow: 0px 10px 10px -6px rgb(83, 83, 83);
  }
.img{
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
}

.infoContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.priceAndButton{
     min-width: 200px;
    display: flex;
    justify-content: space-between;
}
.price{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
    padding-right: 4px;

}
.priceAndButton div {
    display: flex;
    align-items: flex-end;
}
.description{
     max-width: 200px;
    padding-left: 12px;
    padding-right: 3px;
    padding-bottom: 10px;
    word-wrap: break-word;
}
.sinStock{
    filter: blur(1px) grayscale(1);

}
.containerSinStock{
  position:relative;
  overflow:hidden;

}

.detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px !important;
    background: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 32px;
}

@media all and (max-width: 500px){
    .detail{
        width: 330px !important;
        height: 700px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}