.content_all {
    width: 100%;
    max-width: 1000px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
}

.content_all_register {
    width: 100%;
    max-width: 1000px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
}

.content_form {
    width: 80%;
    padding: 40px;
    background: rgb(241, 241, 241);
    /*  border-radius: 10px 0 0 10px; */
}

.loguito {
    width: 65px;
    height: 65px;
    margin: auto;
    object-fit: cover;
}

.tittle {
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    color: #494949;
    font-size: 27px;
}

.subtitle {
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    color: #494949;
    font-size: 21px;
}

.text {
    text-align: left;
    margin-top: 9px;
    font-weight: 300;
    color: #747474;
}

.label {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    color: #494949;
}

input:focus {
    outline: none;
}

.input {
    outline: none;
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid #005BAA;
    color: #021A72;
    font-size: 17.5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    width: 100%;
    height: 50px;
    color: white;
    border: 0px;
    background: linear-gradient(268.44deg, #005BAA -3.37%, #2088E2 100%);
    box-shadow: 0px 10px 20px rgba(15, 21, 129, 0.2);
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

.btnGoogle {
    width: 100%;
    height: 50px;
    color: black;
    border: 0px;
    background: linear-gradient(268.44deg, #797b7c -3.37%, #b3b3b3 100%);
    box-shadow: 0px 10px 20px rgb(192, 192, 192);
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

.btnGoogle:hover {
    background: linear-gradient(268.44deg, #b3b3b3 -3.37%, #797b7c 100%);
}

.btn:hover {
    background: linear-gradient(268.44deg, #2088E2 -3.37%, #005BAA 100%);
}

.text_footer {
    display: block;
    margin-top: 30px;
    text-align: left;
    color: #494949;
    font-weight: 300;
}

.olvidePass {
    display: block;
    margin-top: 30px;
    text-align: right;
    color: #494949;
    font-weight: 300;
}

.olvidePass a {
    color: #005BAA;
    font-weight: 500;
}

.text_footer a {
    color: #005BAA;
    font-weight: 500;
}

.content_image {
    width: 80%;
    background: linear-gradient(180deg, #2088E2 0%, rgb(3, 26, 111) 100%, #005BAA 100%);
    /*   border-radius: 0 10px 10px 0; */
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

@media screen and (max-width: 800px) {
    .content_image {
        display: none;
    }

    .content_form {
        margin: auto;
        width: 100%;
        background: white;
    }
}