.container:hover{
   transition: .1s;
}
.containerSelected{
    transform: scale(1.2);
}
.containerSelected:hover{
    transition: .1s;
 }

.container:hover{
    transform: scale(1.1);
}
.avatarSelected{
    box-shadow: 0px 0px 15px -5px rgb(83, 83, 83); 
    border: 1px solid #005BAA;
}