.supremeContainer{
    display: flex;
    justify-content: center;
    width: 100vw;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 78vw;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 61vw;
}
.productsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 61vw;

}
@media (max-width: 500px){
    .container{
        width: 90vw;
    } 
    .productsContainer{
        align-items: flex-start;
        width: 100vw
    }
    .container2{
        width: 100vw;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    } 
}
