.supremeContainer{
    display: flex;
    justify-content: center;
    width: 100vw;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 78vw;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 61vw;
}
.productsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 61vw;

}
