.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: row;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.middleDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modalLeft {
    display: flex;
    flex-direction: column;

}

.modalRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    max-width: 200px;
    padding: 7px
}

.selectedDisplay {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selectCard {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 12px;
}

.titleCard {
    padding: 5px;
}

.buttonCard {
    cursor: pointer;
    padding: 5px;
    color: red;
    border: none;
    background-color: transparent;
}

.back {
    position: absolute;
}

@media all and (max-width: 500px){
    .container {
        width: 80% !important;
        height: 90% !important; 
        align-items: center;
    }
    .middleDiv{
        flex-direction: column !important;
        align-items: center !important;
    }
    .modalRight img {
        max-width: 100px;
    }
    .modalRight textarea {
        height: 60px !important;
    }
    .modalLeft div {
        max-width: 300px;
    }
    .back {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}