.mainDiv{
    width: 100%;
}
.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left img{
    width: 70px;
    height: 70px;
    border-radius: 50%
}
.right{
    display: flex;
    flex-direction: row;
}