.containerMain {
    height: 500px !important;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.botones {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.tusProductos {
    height: 70px;
    margin: 5px 0;
    display: flex !important;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

.productos {
    height: 335px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px
}

@media all and (max-width: 500px){
    .tusProductos{
        height: 50px;
    }
    .tusProductos h6 {
        font-size: 15px;
    }

    .botones {
        justify-content: flex-end;
        width: auto;
    }

    .botones button {
        width: 80px;
        font-size: 12px;
        margin: 0 5px;
    }

    .productos{
        flex-direction: column;
        justify-content: space-evenly;
    }
}