.containerMain {
    height: 500px !important;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.botones {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.tusProductos {
    height: 70px;
    margin: 5px 0;
    display: flex !important;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

.productos {
    height: 335px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    overflow-y: auto;
}

@media all and (max-width: 500px){
    .containerMain{
        height: 50% !important;
        align-content: flex-start;
    }
    
    .tusProductos{
        height: 50px;
        padding: 0 !important;
    }
    .tusProductos h6 {
        font-size: 15px;
        margin-left: 10px;
    }

    .botones {
        justify-content: flex-end;
        width: auto;
        margin-right: 10px;
    }

    .botones button {
        width: 80px;
        font-size: 12px;
        margin: 0 5px;
    }

    .productos{
        height: 89% !important;
        justify-content: space-evenly;
        padding: 0 !important;
    }
}