/* ----contenedor carrito---- */
.car-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ----contenedor items carrito---- */
.items-content {
  width: 50%;
  border-radius: 15px;
  border: 1px solid rgb(6, 94, 149);
}

.item{
  border: 2px solid salmon;
  width: 100%;
  height: 100%;
}
.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-item {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
@supports (object-fit: cover) {
  .img-item {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.content-detail {
  border: 2px solid aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-tittle {
  width: 100%;
  border: 2px solid yellow;
}
.desc-item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border: 2px solid blue;
  align-items: center;
}
.content-btn{
  display: flex;
  background-color: aqua;
}
.item-count{
  display: flex;
}

/* ---contenedor detalle pago */
.pay-content {
  width: 20%;
}