/* ----contenedor carrito---- */
.car-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ----contenedor items carrito---- */
.items-content {
  width: 50%;
  border-radius: 7px;
  border: 1px solid rgb(6, 94, 149);
}

.item{
  width: 100%;
  height: 100%;
}
.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-item {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
@supports (object-fit: cover) {
  .img-item {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.content-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-tittle {
  width: 100%;
}
.desc-item {
  width: 50%;
  min-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-count{
  display: flex;
  
}

.btn{
  border: 1px solid rgb(6, 94, 149);
  text-align: center;
  color: rgb(19, 77, 149);
  width: 25px;
  height: 31px;
  font-weight: bold;
  cursor: pointer;
}
.btn-add{
  font-size: 1.5rem;
}
.btn-res{
  font-size: 1.5rem;
}
.lb-count{
  cursor: auto;
}

.btn-remove{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---contenedor detalle pago */
.pay-container {
  width: 25%;
  border-radius: 7px;
  border: 1px solid rgb(6, 94, 149);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-pay{
  width: 100%;
  border: 2px solid salmon;
  text-align: center;
}
.tittle-pay{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}