/* ----contenedor carrito---- */
.car-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ----contenedor items carrito---- */
.items-content {
  width: 50%;
  min-width: 340px;
  height: fit-content;
  border-radius: 7px;
  border: 2px solid #EEEEEE;
}

.item {
  width: 100%;
  height: 100%;

}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-item {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

@supports (object-fit: cover) {
  .img-item {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.content-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-tittle {
  width: 100%;
}

.desc-item {
  width: 50%;
  min-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-count {
  display: flex;

}

.btn {
  border: 1px solid #7FACD4;
  text-align: center;
  color: #005BAA;
  width: 25px;
  height: 31px;
  font-weight: bold;
  cursor: pointer;
}

.btn-add {
  font-size: 1.5rem;
}

.btn-res {
  font-size: 1.5rem;
}

.lb-count {
  width: 18px;
  height: 27px;
  cursor: auto;
}

.btn-remove {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ---contenedor detalle pago */
.pay-container {
  width: 25%;
  height: 100%;
  min-width: 183px;
  border-radius: 7px;
  border: 2px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-pay {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.tittle-pay {
  display: flex;
}

.lb-content {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: end;
  align-content: end;
  margin-top: 2px;
}

.MuiTypography-body2 {
  padding-top: 3px;
  font-weight: bolder;
}

.MuiTypography-body1 {
  font-weight: 900;
}

hr {
  width: 80%;
  border-color: #7FACD4;
}

.MuiDivider-root {
  width: 100%;
}

.checkout {
  width: 500px;
  margin: auto
}

@media (max-width: 500px) {
  .car-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .pay-container{
    width: 68%;
    min-width: 340px;
    margin: 20px 0
  }

  .checkout {
    width: 400px;
    height: 600px;
  }
}

/* ---Loader--- */
.MuiTypography-h4 {
  color: #005BAA;
  padding: 10px;
}

.MuiTypography-subtitle1 {
  color: #043c6d;
}

.MuiTypography-caption {
  color: #3c3d3d;
}

.btn-return {
  padding: 10px;
}

/* ---label car--- */

.lbl-removeAllCar {
  color: #005BAA;
}

.lbl-removeAllCar:hover {
  color: #c5360a;
  font-size: small;
}